<!DOCTYPE html>
<html>
  <body style="background-color: #c2e5d3; font-size: 16px;">
    <section class="mt-5 py-5" style="background-color: #c2e5d3;">
        <div class="container py-5 mt-5">
          <div class="row d-flex justify-content-center align-items-center py-5 mt-5">
      <div class="col-xl-6">
        <div class="card rounded-3 text-black">
        <div class="row g-0">
          <div class="col-lg">
            <div class="card-body p-md-5 mx-md-4">
      
              <center>
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:100%; width:700px;">
                  <!-- BEGIN EMAIL -->
                  <tbody>
                    <tr>
                      <td align="left" style="padding:30px">
                        <div style="background-color:#fff; padding:30px;">
  
                          <p style="text-align:left">Hi {{ firstname }},<br><br> 
                              Your bid has been <b>{{bid_status}}</b>. <br><br>
                               
                              {% if shift_id > -1 %}
                              <b>Shift ID: </b> {{shift_id}}<br>{% endif %}
                              <b>Facility Name:</b> {{ facility_name }} <br>
                              <b>Facility Address:</b> {{ facility_address }} <br>
                              <b>Designation:</b> {{ staff_type }}<br>
                              <b>Shift Date:</b> {{ shift_date }}<br>
                              <b>Shift Schedule:</b> {{ shift_schedule }} / {{ schedule_time }}<br><br>
                                                            
                              {% if bid_status == 'CONFIRMED' %}
                                  <!--Below are the details of your shift:<br><br -->
                              
                                  Acknowledge or Cancel this shift using the buttons below or visit your account in <a href="{{ protocol }}://{{ domain }}{{ index_url }}">{{ site_name }}</a>.
                                  <p style="text-align:center; display:flex; align-items:center; justify-content: center;">
                                      <a target="_blank" style="width: 60%; text-decoration:none; background-color: #92c83e; border: #92c83e 1px solid; color: #3f3f3f; padding:10px 10px; display:block;" href="{{ protocol }}://{{ domain }}{% url 'confirm_shift' shift_id=shift_id confirm='True' %}">
                                      <strong>Acknowledge Shift</strong></a>
                                  </p>
                                  <p style="text-align:center; display:flex; align-items:center; justify-content: center;">
                                      <a target="_blank" style="width: 60%; text-decoration:none; background-color: #92c83e; border: #92c83e 1px solid; color: #3f3f3f; padding:10px 10px; display:block;" href="{{ protocol }}://{{ domain }}{% url 'confirm_shift' shift_id=shift_id confirm='False' %}">
                                      <strong>Request Cancel Shift</strong></a>
                                  </p>
  
                              {% else %}
                                  <b>Reason:</b> {{ reason }} <br><br>
                                  Please standby for other staffing needs in the future by checking your email frequently, or by logging into your account in <a href="{{ protocol }}://{{ domain }}{{ index_url }}">{{ site_name }}</a>.
                              {% endif %}
                              <br><br>
                              Regards,<br><br>
                              AHSSI Portal Admin
                          </p>
                        </div>
                   
                    </td>
                  </tr>
                </tbody>
              </table>
              </center>
      
            </div>
          </div>
          
        </div>
        </div>
      </div>
      </div>
    </div>
    </section>
  </body>
   
</html>
