<!-- templates/shift/email/email_shift.html -->


<!DOCTYPE html>
<html>
  <body style="background-color: #c2e5d3; font-size: 16px;">
    <section class="mt-5 py-5" style="background-color: #c2e5d3;">
        <div class="container py-5 mt-5">
          <div class="row d-flex justify-content-center align-items-center py-5 mt-5">
      <div class="col-xl-6">
        <div class="card rounded-3 text-black">
        <div class="row g-0">
          <div class="col-lg">
            <div class="card-body p-md-5 mx-md-4">
      
              <center>
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:100%; width: 1000px;">
                  <!-- BEGIN EMAIL -->
                  <tbody>
                    <tr>
                      <td align="left" style="padding:30px">
                        <div style="background-color:#fff; padding:30px;">
           
                            <p style="text-align:left">Hi {{ firstname }},<br> </p>

                            
                              <p style="text-align:left;">
                                
                                We are in need of <b>{{ staff_type }}</b> for an auto-bid work <b>{{dow}}</b> at the PMH region.<br>
                                Please let us know if you are available.<br><br>

                                  <b>Shift Date:</b> {{shift_date_txt}} <br>
                                  <b>Shift Schedule:</b> {{shift_schedule}}<br>

                              </p>

                              <p style="text-align:left;">
                                Kindly note that we expect you to be available and committed when you sign up for auto-bid.<br>
                                In the event that you are confirmed for the shift and decide to decline, you will be put in the non-priority list in the future shifts. <br><br>
                              </p>

                              <p style="text-align:center; display:flex; align-items:center; justify-content: center;">
                                {% comment %}<a id="id_link" target="_blank" style="width: 60%; text-decoration:none; background-color: #92c83e; border: #92c83e 1px solid; color: #3f3f3f; padding:10px 10px; display:block;" href="{{ protocol }}://{{ domain }}{% url 'bid_shift_auto_adhoc' username=username facility_cd=facility_cd shift_date=shift_date sched=schedule_arg %}"> {% endcomment %}
                                  <a id="id_link" target="_blank" style="width: 60%; text-decoration:none; background-color: #92c83e; border: #92c83e 1px solid; color: #3f3f3f; padding:10px 10px; display:block;" href="{{ protocol }}://{{ domain }}{% url 'bid_shift_auto_adhoc' username=username shift_date=shift_date sched=schedule_arg %}">
                                    <strong>Select Shift Availability</strong></a>
                              </p>

                              {% if add_message != None and add_message != '' and add_message != ' ' %}
                              <p style="text-align:left"> 
                                <br><br>
                                {{ add_message }}
                              </p>
                              {% endif %}
                              <p style="text-align:left">    
                                  <br><br>
                                  Regards,<br>
                                  AHSSI Portal Admin
                              </p> 
                        
                        </div>
                   
                    </td>
                  </tr>
                </tbody>
              </table>
              </center>
      
            </div>
          </div>
          
        </div>
        </div>
      </div>
      </div>
    </div>
    </section>
  </body>
   
</html>

