{% extends "base.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<style>
  .nav-links {
      display:none;
  }
  #id_new_password1, #id_new_password2 {
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
  }

  ul {
    margin-left: 20px;
  }
  ul.errorlist {
    color: red;
  }
</style>
<body style="background-color: #c2e5d3;">

{% if validlink %}
<body style="background-color: #c2e5d3; font-size: 16px;">
  <section class="mt-5 py-5" style="background-color: #c2e5d3;">
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
		<div class="col-xl-6">
		  <div class="card rounded-3 text-black">
			<div class="row g-0">
			  <div class="col-lg">
          <div class="card-body p-md-5 mx-md-4">
    
            <div class="text-center py-2">
              <h2>Set a new password!</h2>
            </div>
    
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <p class="text-center">
                <input type="submit" class="btn btn-success btn-lg btn-block" value="Change my password">
                </p>
                </form>
    
          </div>
			  </div>
			  
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
</body>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
</body>
{% endblock %}