<!-- registration/success_reset.html -->
{% extends "base.html" %}

{% block content %}

<head>
    <meta http-equiv="refresh" content="5; URL={% url 'login' %}" />
    <style>
      .nav-links {
          display:none;
      }
  </style>
  </head>
  <body style="background-color: #c2e5d3; font-size: 16px;">
    <section class="mt-5 py-5" style="background-color: #c2e5d3;">
        <div class="container py-5 mt-5">
          <div class="row d-flex justify-content-center align-items-center py-5 mt-5">
        <div class="col-xl-6">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg">
                <div class="card-body p-md-5 mx-md-4">
          
                  <div class="text-center py-2">
                    <h2>Password Reset</h2>
                  </div>
          
                  <p style="text-align:center">Your password has been reset!<br></p><br>
                  <p style="text-align:center">If you are not redirected to login page in 5 seconds, <a href="{% url 'login' %}">click here.</a>
          
                </div>
              </div>
              
            </div>
          </div>
        </div>
        </div>
      </div>
      </section>
</body>

{% endblock %}