{% extends "base.html" %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<head>
  <meta http-equiv="refresh" content="5; URL={% url 'login' %}" />
  <style>
    .nav-links {
        display:none;
    }
</style>
</head>
<body style="background-color: #c2e5d3; font-size: 16px;">
  <section class="mt-5 py-5" style="background-color: #c2e5d3;">
      <div class="container py-5 mt-5">
        <div class="row d-flex justify-content-center align-items-center py-5 mt-5">
      <div class="col-xl-6">
        <div class="card rounded-3 text-black">
        <div class="row g-0">
          <div class="col-lg">
            <div class="card-body p-md-5 mx-md-4">
      
              <div class="text-center py-2">
                <h2>Check your inbox.</h2>
              </div>
      
              <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.<br><br>
                If you don't receive and email, please make sure you've entered the email address associated with your account and check your spam folder.
              </p>
      
            </div>
          </div>
          
        </div>
        </div>
      </div>
      </div>
    </div>
    </section>
</body>
{% endblock %}