<!-- registration/password_reset.html -->

{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}

<style>
    .nav-links {
        display:none;
    }
    #id_email {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }
</style>
<body style="background-color: #c2e5d3; font-size: 16px;">
  <section class="mt-5 py-5" style="background-color: #c2e5d3;">

    <div class="container py-5 mt-5">
     <div class="row d-flex justify-content-center align-items-center py-5 mt-5">
      <div class="col-xl-6">
        <div class="card rounded-3 text-black">
        <div class="row g-0">
          <div class="col-lg">
            {% if messages %}
            <ul class="messages">
               <!-- {% for message in messages %}-->
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                <!--{% endfor %}-->
            </ul>
            {% endif %}
            <div class="card-body p-md-5 mx-md-4">
      
              <div class="text-center py-2">
                <h2>Reset Password</h2>
              </div>
      
              <p>Enter your email address below to receive email instructions to reset password.</p>
              <form method="POST">
                {% csrf_token %}
                      <div class="form-group py-2">
                          {{ password_reset_form }}
                      </div>
              <div class="text-center py-2">
                <button class="btn btn-success" type="submit">Send email</button>
              </div>
              </form>
      
            </div>
          </div>
          
        </div>
        </div>
      </div>
	  </div>
	</div>
  </section>
</body>
{% endblock %}


