<!-- templates/shift/bid_shift_adhoc_form.html -->
{% extends 'base.html' %}

{% block adminContent %}

{% load static %}
<style>
    #id_username, #id_comments, #id_upload {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }

    
    .select2-container--default .select2-selection--single {
        border: none !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    @media only screen and (max-width: 750px){
        #id_staff_type {
            display: block !important;
        }

        label {
            display: block;
        }
    }

   
</style>
{% if messages %}
<ul class="messages">
  	<!-- {% for message in messages %} -->
      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      <!-- {% endfor %} -->
</ul>
{% endif %}


<div class="main container">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Upload Document</h5>
            </div>
            <div class="card-body">
                <!-- Create a Form -->
            <form method="POST" enctype="multipart/form-data">
                <!-- Security token by Django -->
                {% csrf_token %}
        
                <!-- form as paragraph -->
        
               {{ form.as_p }}
                
                <hr>
                <div class="formBtn">

                <input class="btn btn-success" type="submit" value="Upload" style="float: right;">
                <a href="{% url 'payroll_docs' %}"><input type="button" class="btn btn-secondary" name="Done" value="Done" style="float: right; margin-right: 15px;"></a>

                </div>
            </form>
        
            </div>
        </div>
</div>

<script>

    $(document).ready(function()
    {
        $('#id_username').select2({ width: '100%' });

    });

</script>

{% endblock %}
