{% extends 'base.html' %}

{% block title %} Reminder Settings {% endblock %}
{% block adminContent %}
{% load static%}
{% if messages %}
<ul class="messages">
   <!-- {% for message in messages %}-->
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    <!--{% endfor %}-->
</ul>
{% endif %}
<style>
    .setting-active {
    border-left: 4px solid #92c83e;
    padding-left: 16px;
    background: #cfcfcfcf;    
    }

</style>
<div class="setting-container">
    <div class="setting-menu">
        <div class="card" style="width: 20rem;">
            <div class="card-header"><h5>Settings</h5></div>
            <ul class="list-group">
                <a href="{% url 'settings_options' option='staff' %}">
                <li class="list-group-item">
                    View Designation
                    <img class="greater-than" width="30" src="{% static 'img/arrow.png' %}"/>
                </li> 
                </a>
                <a href="{% url 'settings_options' option='facility' %}">
                <li class="list-group-item">
                    View Facility
                    <img class="greater-than" width="30" src="{% static 'img/arrow.png' %}"/></li>
                </a>
                <a href="{% url 'settings_options' option='schedule' %}">
                <li class="list-group-item">
                    View Schedule
                    <img class="greater-than" width="30" src="{% static 'img/arrow.png' %}"/></li>
                </a>
                <a href="{% url 'settings_options' option='reminder' %}">
                <li class="list-group-item setting-active">
                    View Reminder Settings 
                    <img class="greater-than" width="30" src="{% static 'img/arrow.png' %}"/></li>
                </a>
                <a href="{% url 'logs' %}">
                    <li class="list-group-item">
                    View Activity Logs 
                    <img class="greater-than" width="30" src="{% static 'img/arrow.png' %}"/></li>
                </a>                
            </ul>
        </div>
    </div>

    <div class="card" style="width: 100%;">
        <div class="card-header">
            <h5>Reminder</h5>
        </div>
        <div class="card-body">
            <div>
                <form action = "" method="POST">
           
                    {% csrf_token %}
                    {{form.as_ul }}
                    <font color="grey">To disable reminder, put 0 as value.</font>
                    <input class="btn btn-success" type="submit" value="Update" style="float: right; margin-right: 15px;">
      
                </form>
            </div>
        </div>

    </div>
    
</div>
{% endblock %}