<!-- templates/shift/email_shift_form.html -->
{% extends 'base.html' %}
{% block title %} Bid Form {% endblock %}
{% if user.is_authenticated %}
{% block adminContent %}
{% load static %}
<style>
    .nav-links {
        display:none;
    }
    #id_facility, #id_message {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }

    #id_staff_type{
        display: flex;
    }

    #id_staff_type div {
    padding-right: 60px;
    }

    /*
    #id_shift_date_month, #id_form-0-shift_date_month {
        display: inline-block;
        width: 30%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        background: #fff url("{% static 'img/select-arrow.svg' %}") no-repeat right 0.75rem center;
        background-size: 8px 10px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    #id_shift_date_day,#id_form-0-shift_date_day {
        display: inline-block;
        width: 15%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        background: #fff url("{% static 'img/select-arrow.svg' %}") no-repeat right 0.75rem center;
        background-size: 8px 10px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    #id_shift_date_year, #id_form-0-shift_date_year {
        display: inline-block;
        width: 20%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        background: #fff url("{% static 'img/select-arrow.svg' %}") no-repeat right 0.75rem center;
        background-size: 8px 10px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }*/

    #id_shift_schedule, #id_form-0-shift_schedule, #id_form-1-shift_schedule, #id_form-2-shift_schedule
    ,#id_form-3-shift_schedule, #id_form-4-shift_schedule, #id_form-5-shift_schedule, #id_form-6-shift_schedule
    , #id_form-7-shift_schedule, #id_form-8-shift_schedule, #id_form-9-shift_schedule {
        display: inline-block;
        width: 40%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        background: #fff url("{% static 'img/select-arrow.svg' %}") no-repeat right 0.75rem center;
        background-size: 8px 10px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    #id_shift_date, #id_form-0-shift_date, #id_form-1-shift_date, #id_form-2-shift_date
    ,#id_form-3-shift_date, #id_form-4-shift_date, #id_form-5-shift_date, #id_form-6-shift_date
    , #id_form-7-shift_date, #id_form-8-shift_date, #id_form-9-shift_date {
        display: inline-block;
        width: 45%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem 0.375rem 0.75rem;
        line-height: 1.8;
        color: #495057;
        vertical-align: middle;
        background-size: 8px 10px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .bidshiftform{
        margin-right: 20px;
        /* margin-bottom:20px; */
    }

    .bid-container{
        margin: 30px;
    }

    .hideForm{
        display:none;
    }

    @media only screen and (max-width: 790px){
        .shiftDetails{
            margin-top: 20px;
        }

    }

    
   
</style>

{% if messages %}
<ul class="messages">
  	<!-- {% for message in messages %} -->
    	<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	  <!-- {% endfor %} -->
</ul>
{% endif %}
<div class="bid-container">
    <div class="row m-0 p-0 w-100"> 
        <div class="card col-lg bidshiftform">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Bid Shift Form</h5>
            </div>
            <div class="card-body">
                   <!-- Create a Form -->
                   <p><b>{{ facility_name }}</b></p>
                   <hr>
                   <form method="POST">
                       <!-- Security token by Django -->
                       {% csrf_token %}
                       {{ formset.management_form }}

                       <!-- form as paragraph -->
                       <div id="bid-shift-form" >

                        {% for form in formset %}
                            <div class='bid-form'>
                                {{form.as_p}}
                                <div class="input-group-append">
                                    <button class="btn btn-danger align-self-center remove-form hideForm" type="button">-</button>
                                </div>
                            </div>

                        {% endfor %}
                        <hr>
                      </div>
                      <div id="bid-shift-form-list">
           
                      </div>
                      
                      <div class="formBtn">
                       <button id="add-more" class="btn btn-primary">Add Shift</button> 
                       <input class="btn btn-success" type="submit" value="Submit Offer" style="float: right;">
                       
                       </div>
                   </form>
        
            </div>
        </div>
        <div class="card col-lg shiftDetails">
              <div class="card-header d-flex justify-content-between align-items-center">
                  <h5 class="mb-0">Shift Details</h5>
              </div>
              <div class="card-body">
                <p style="text-align:left">

                    <b>{{ facility_name }}</b>  is in need of <b>{{ shift_email.staff_type }}</b> for the following shifts:<br>
                    <hr>
                    <p style="text-align:left; background-color:#26463e;">
                      
                      {{ shift_email.message|safe|linebreaks }}

                      <hr>
                      {% if shift_email_file|length > 0 %} 
                        {% for file in shift_email_file %}
                        
                        <a target="_blank" type="button" href="{{ file.upload.url }}" style="-webkit-appearance: none; -moz-appearance: none; appearance: none;"><img style="width: 690px;" src="{{ file.upload.url }}" alt="Delete" title="Delete" class="logo img-fluid"></a>
                        {% endfor %}
                      {% endif %} 
                      <hr>
                </p>
      
              </div>
          </div>
    </div>
 
</div>
<script>
    
//const firstBidForm = document.getElementById('bid-form')
// const delBtn = document.querySelector('.remove-form')
const addMoreBtn = document.getElementById('add-more')
const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
const maxNumForms = document.getElementById('id_form-MAX_NUM_FORMS')

let maxForm = maxNumForms.getAttribute('value')

console.log("MAx Form:" + maxForm);

if (maxForm == 1) {
    delBtn.style.display = "none";
    addMoreBtn.style.display = "none";

    //document.getElementById('id_form-0-shift_date_month').disabled = true;
    //document.getElementById('id_form-0-shift_date_year').disabled = true;
    //document.getElementById('id_form-0-shift_date_day').disabled = true;
    //document.getElementById('id_form-0-shift_schedule').disabled = true;
}

var currentFormCount = 1


function updateId() {

    
    const updateAll = document.querySelectorAll('#bid-shift-form-list .bid-form-row')
    const updateRemoveBtn = document.querySelectorAll('#bid-shift-form-list .bid-form-row .remove-form')
    const formRegex = RegExp(`form-(\\d){1}-`,'g')
        
    for (i=0; i<updateAll.length; i++){
        updateAll[i].setAttribute('id', `form-${i+1}`)
        updateRemoveBtn[i].setAttribute('id', `${i+1}`)
        updateRemoveBtn[i].className="btn btn-danger align-self-center remove-form remove-" + `${i+1}`;
        updateAll[i].innerHTML = updateAll[i].innerHTML.replace(formRegex, `form-${i+1}-`)
        
    }

    event.preventDefault();

}

function delete_form(id) {
    event.preventDefault();

    let totalForms = parseInt(totalNewForms.getAttribute('value'))

    console.log('Forms: before Delete ' + totalForms);

    const RemoveBtn = document.querySelector(".remove-" +`${id}`)
    const RemoveForm = document.querySelector("#form-" +`${id}`)
    RemoveForm.remove();

    totalNewForms.setAttribute('value', totalForms - 1)
    console.log("Forms after Delete:" + totalNewForms.getAttribute('value'));

    //updateId();

    let totalFormAfter = parseInt(totalNewForms.getAttribute('value'))
    if(totalFormAfter < maxForm) {

        addMoreBtn.style.visibility = 'visible';
    }
    event.preventDefault();
}


addMoreBtn.addEventListener('click', add_new_form)

function add_new_form(event) {

    if (event) {
        event.preventDefault()
    }
    
    let totalForms = parseInt(totalNewForms.getAttribute('value')) + 1

    const currentBidForms = document.getElementsByClassName('bid-form')
    currentFormCount = currentFormCount + 1 
    console.log("Add Forms: " + currentFormCount)

    console.log("Total Forms: " + totalForms)

    if(totalForms < 11) {

        const formCopyTarget = document.getElementById('bid-shift-form-list')
        const copyEmptyFormEl = document.getElementById('bid-shift-form').cloneNode(true)
        
        copyEmptyFormEl.setAttribute('class', 'bid-form-row')
        copyEmptyFormEl.setAttribute('id', `form-${totalForms -1}`)
        const formRegex = RegExp(`form-(\\d){1}-`,'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(formRegex, `form-${totalForms - 1}-`)

        totalNewForms.setAttribute('value', totalForms)
        formCopyTarget.append(copyEmptyFormEl);



        //var id_month = `id_form-${totalForms -1}-shift_date_month`
        //var id_year = `id_form-${totalForms -1}-shift_date_year`
        //var id_day = `id_form-${totalForms -1}-shift_date_day`
        var id_sched = `id_form-${totalForms -1}-shift_schedule`
        var id_date = `id_form-${totalForms -1}-shift_date`

        var obj = document.getElementById(id_date);
        obj.style.display = "inline-block";
        obj.style.width = "45%";
        obj.style.height = "calc(2.25rem + 2px)";
        obj.style.padding = "0.375rem 0.75rem 0.375rem 0.75rem";
        obj.style.color = "#495057";
        obj.style.border = "1px solid #ced4da";
        obj.style["vertical-align"] = "middle";
        obj.style["background-size"] = "8px 10px";
        obj.style["line-height"] = "1.8";
        obj.style["border-radius"] = "0.25rem";
        obj.style["-webkit-appearance"] = "none";
        obj.style["-moz-appearance"] = "none";
        obj.style.appearance = "none";

        var obj = document.getElementById(id_sched);
        obj.style.display = "inline-block";
        obj.style.width = "40%";
        obj.style.height = "calc(2.25rem + 2px)";
        obj.style.padding = "0.375rem 1.75rem 0.375rem 0.75rem";
        obj.style.color = "#495057";
        obj.style.border = "1px solid #ced4da";
        obj.style["vertical-align"] = "middle";
        obj.style.background = '#fff url("{% static 'img/select-arrow.svg' %}") no-repeat right 0.75rem center';
        obj.style["background-size"] = "8px 10px";
        obj.style["line-height"] = "1.5";
        obj.style["border-radius"] = "0.25rem";
        obj.style["-webkit-appearance"] = "none";
        obj.style["-moz-appearance"] = "none";
        obj.style.appearance = "none";


        const RemoveID = document.querySelector("#form-" + `${totalForms - 1}` + " .remove-form");
        RemoveID.classList.add("remove-" + `${totalForms - 1}`)
        RemoveID.classList.remove("hideForm")
        RemoveID.setAttribute('id', `${totalForms - 1}`)
        RemoveID.setAttribute('onclick', 'delete_form(this.id)');
       
  
        if(totalForms == maxForm) {
            addMoreBtn.style.visibility = 'hidden';
        }
    }
   
}


</script>
{% endblock %}
{% else %}
{% block content %}
{% load static %}
<style>
    .nav-links {
        display:none;
    }
    #id_facility, #id_message {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }

    #id_staff_type{
        display: flex;
    }

    #id_staff_type div {
    padding-right: 60px;
    }


    #id_shift_date, #id_form-0-shift_date, #id_form-1-shift_date, #id_form-2-shift_date
    ,#id_form-3-shift_date, #id_form-4-shift_date, #id_form-5-shift_date, #id_form-6-shift_date
    , #id_form-7-shift_date, #id_form-8-shift_date, #id_form-9-shift_date {
        display: inline-block;
        width: 45%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem 0.375rem 0.75rem;
        line-height: 1.8;
        color: #495057;
        vertical-align: middle;
        background-size: 8px 10px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    #id_shift_schedule, #id_form-0-shift_schedule, #id_form-0-shift_schedule, #id_form-1-shift_schedule, #id_form-2-shift_schedule
    ,#id_form-3-shift_schedule, #id_form-4-shift_schedule, #id_form-5-shift_schedule, #id_form-6-shift_schedule
    , #id_form-7-shift_schedule, #id_form-8-shift_schedule, #id_form-9-shift_schedule {
        display: inline-block;
        width: 40%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        line-height: 1.5;
        color: #495057;
        vertical-align: middle;
        background: #fff url("{% static 'img/select-arrow.svg' %}") no-repeat right 0.75rem center;
        background-size: 8px 10px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .bidshiftform{
        margin-right: 20px;
        /* margin-bottom:20px; */
    }

 
    .hideForm{
        display:none;
    }

    @media only screen and (max-width: 790px){
        .shiftDetails{
            margin-top: 20px;
        }

    }
</style>
<body style="background-color: #c2e5d3; font-size: 16px;">
  <section style="background-color: #c2e5d3;">
      <div class="container py-5 mt-5">
        {% if messages %}
        <ul class="messages">
            <!-- {% for message in messages %} -->
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            <!-- {% endfor %} -->
        </ul>
        {% endif %}
        <div class="row">
            <div class="card col-lg bidshiftform">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Bid Shift Form</h5>
                </div>
                <div class="card-body">
                       <!-- Create a Form -->
                       <p><b>{{ facility_name }}</b></p>
                       <hr>
                       <form method="POST">
                           <!-- Security token by Django -->
                           {% csrf_token %}
                           {{ formset.management_form }}
    
                           <!-- form as paragraph -->
                           <div id="bid-shift-form" >
    
                            {% for form in formset %}
                                <div class='bid-form'>
                                    {{form.as_p}}
                                    <div class="input-group-append">
                                        <button class="btn btn-danger align-self-center remove-form hideForm">-</button>
                                    </div>
                                </div>
    
                            {% endfor %}
                            <hr>
                          </div>
                          <div id="bid-shift-form-list">
               
                          </div>
                          
                          <div class="formBtn">
                            
                           <button id="add-more" class="btn btn-primary">Add Shift</button> 
                           <input class="btn btn-success" type="submit" value="Submit Offer" style="float: right;">
                           </div>
                       </form>
            
                </div>
            </div>
            <div class="card col-lg shiftDetails">
                  <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Shift Details</h5>
                  </div>
                  <div class="card-body">
                    <p style="text-align:left">
    
                        <b>{{ facility_name }}</b>  is in need of <b>{{ shift_email.staff_type }}</b> for the following shifts:<br>
                        <hr>
                        <p style="text-align:left; background-color:#26463e;">
                          
                          {{ shift_email.message|safe|linebreaks }}
    
                          <hr>
                          {% if shift_email_file|length > 0 %} 
                            {% for file in shift_email_file %}
                            
                            <a target="_blank" type="button" href="{{ file.upload.url }}" style="-webkit-appearance: none; -moz-appearance: none; appearance: none;"><img style="width:580px;" src="{{ file.upload.url }}" alt="attachment" title="attachment" class="logo img-fluid"></a>
                            {% endfor %}
                          {% endif %} 
                          <hr>
                    </p>
          
                  </div>
              </div>
        </div>
      </div>
  </section>
</body>

<script>
    
    //const firstBidForm = document.getElementById('bid-form')
    // const delBtn = document.querySelector('.remove-form')
    const addMoreBtn = document.getElementById('add-more')
    const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
    const maxNumForms = document.getElementById('id_form-MAX_NUM_FORMS')
    
    let maxForm = maxNumForms.getAttribute('value')
    
    console.log("MAx Form:" + maxForm);
    
    if (maxForm == 1) {
        delBtn.style.display = "none";
        addMoreBtn.style.display = "none";
    
        //document.getElementById('id_form-0-shift_date_month').disabled = true;
        //document.getElementById('id_form-0-shift_date_year').disabled = true;
        //document.getElementById('id_form-0-shift_date_day').disabled = true;
        //document.getElementById('id_form-0-shift_schedule').disabled = true;
    }
    
    var currentFormCount = 1
    
    
    function updateId() {
    
        
        const updateAll = document.querySelectorAll('#bid-shift-form-list .bid-form-row')
        const updateRemoveBtn = document.querySelectorAll('#bid-shift-form-list .bid-form-row .remove-form')
        const formRegex = RegExp(`form-(\\d){1}-`,'g')
            
        for (i=0; i<updateAll.length; i++){
            updateAll[i].setAttribute('id', `form-${i+1}`)
            updateRemoveBtn[i].setAttribute('id', `${i+1}`)
            updateRemoveBtn[i].className="btn btn-danger align-self-center remove-form remove-" + `${i+1}`;
            updateAll[i].innerHTML = updateAll[i].innerHTML.replace(formRegex, `form-${i+1}-`)
            
        }
    
        event.preventDefault();
    
    }
    
    function delete_form(id) {
        event.preventDefault();
    
        let totalForms = parseInt(totalNewForms.getAttribute('value'))
    
        const RemoveBtn = document.querySelector(".remove-" +`${id}`)
        const RemoveForm = document.querySelector("#form-" +`${id}`)
        RemoveForm.remove();
    
        totalNewForms.setAttribute('value', totalForms - 1)
        //console.log("Forms after Delete:" + totalNewForms.getAttribute('value'));
    
        //updateId();
    
        let totalFormAfter = parseInt(totalNewForms.getAttribute('value'))
        if(totalFormAfter < maxForm) {
    
            addMoreBtn.style.visibility = 'visible';
        }
        event.preventDefault();
    }
    
    
    addMoreBtn.addEventListener('click', add_new_form)
    
    function add_new_form(event) {
    
        if (event) {
            event.preventDefault()
        }
        
        let totalForms = parseInt(totalNewForms.getAttribute('value')) + 1
    
        const currentBidForms = document.getElementsByClassName('bid-form')
        currentFormCount = currentFormCount + 1 

    
        if(totalForms < 11) {
    
            const formCopyTarget = document.getElementById('bid-shift-form-list')
            const copyEmptyFormEl = document.getElementById('bid-shift-form').cloneNode(true)
            
            copyEmptyFormEl.setAttribute('class', 'bid-form-row')
            copyEmptyFormEl.setAttribute('id', `form-${totalForms -1}`)
            const formRegex = RegExp(`form-(\\d){1}-`,'g')
            copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(formRegex, `form-${totalForms - 1}-`)
    
            totalNewForms.setAttribute('value', totalForms)
            formCopyTarget.append(copyEmptyFormEl);
    
    
    
            //var id_month = `id_form-${totalForms -1}-shift_date_month`
            //var id_year = `id_form-${totalForms -1}-shift_date_year`
            //var id_day = `id_form-${totalForms -1}-shift_date_day`
            var id_sched = `id_form-${totalForms -1}-shift_schedule`
            var id_date = `id_form-${totalForms -1}-shift_date`

            var obj = document.getElementById(id_date);
            obj.style.display = "inline-block";
            obj.style.width = "45%";
            obj.style.height = "calc(2.25rem + 2px)";
            obj.style.padding = "0.375rem 0.75rem 0.375rem 0.75rem";
            obj.style.color = "#495057";
            obj.style.border = "1px solid #ced4da";
            obj.style["vertical-align"] = "middle";
            obj.style["background-size"] = "8px 10px";
            obj.style["line-height"] = "1.8";
            obj.style["border-radius"] = "0.25rem";
            obj.style["-webkit-appearance"] = "none";
            obj.style["-moz-appearance"] = "none";
            obj.style.appearance = "none";

            var obj = document.getElementById(id_sched);
            obj.style.display = "inline-block";
            obj.style.width = "40%";
            obj.style.height = "calc(2.25rem + 2px)";
            obj.style.padding = "0.375rem 1.75rem 0.375rem 0.75rem";
            obj.style.color = "#495057";
            obj.style.border = "1px solid #ced4da";
            obj.style["vertical-align"] = "middle";
            obj.style.background = '#fff url("{% static 'img/select-arrow.svg' %}") no-repeat right 0.75rem center';
            obj.style["background-size"] = "8px 10px";
            obj.style["line-height"] = "1.5";
            obj.style["border-radius"] = "0.25rem";
            obj.style["-webkit-appearance"] = "none";
            obj.style["-moz-appearance"] = "none";
            obj.style.appearance = "none";

            //var obj = document.getElementById(id_month);
            //obj.style.display = "inline-block";
            //obj.style.width = "30%";
            //obj.style.height = "calc(2.25rem + 2px)";
            //obj.style.padding = "0.375rem 1.75rem 0.375rem 0.75rem";
            //obj.style.color = "#495057";
            //obj.style.border = "1px solid #ced4da";
            //obj.style["vertical-align"] = "middle";
            //obj.style.background = '#fff url("{% static 'img/select-arrow.svg' %}") no-repeat right 0.75rem center';
            //obj.style["background-size"] = "8px 10px";
            //obj.style["line-height"] = "1.5";
            //obj.style["border-radius"] = "0.25rem";
            //obj.style["-webkit-appearance"] = "none";
            //obj.style["-moz-appearance"] = "none";
            //obj.style.appearance = "none";
    //
            //var obj = document.getElementById(id_day);
            //obj.style.display = "inline-block";
            //obj.style.width = "15%";
            //obj.style.height = "calc(2.25rem + 2px)";
            //obj.style.padding = "0.375rem 1.75rem 0.375rem 0.75rem";
            //obj.style.color = "#495057";
            //obj.style.border = "1px solid #ced4da";
            //obj.style["vertical-align"] = "middle";
            //obj.style.background = '#fff url("{% static 'img/select-arrow.svg' %}") no-repeat right 0.75rem center';
            //obj.style["background-size"] = "8px 10px";
            //obj.style["line-height"] = "1.5";
            //obj.style["border-radius"] = "0.25rem";
            //obj.style["-webkit-appearance"] = "none";
            //obj.style["-moz-appearance"] = "none";
            //obj.style.appearance = "none";
    //
            //var obj = document.getElementById(id_year);
            //obj.style.display = "inline-block";
            //obj.style.width = "20%";
            //obj.style.height = "calc(2.25rem + 2px)";
            //obj.style.padding = "0.375rem 1.75rem 0.375rem 0.75rem";
            //obj.style.color = "#495057";
            //obj.style.border = "1px solid #ced4da";
            //obj.style["vertical-align"] = "middle";
            //obj.style.background = '#fff url("{% static 'img/select-arrow.svg' %}") no-repeat right 0.75rem center';
            //obj.style["background-size"] = "8px 10px";
            //obj.style["line-height"] = "1.5";
            //obj.style["border-radius"] = "0.25rem";
            //obj.style["-webkit-appearance"] = "none";
            //obj.style["-moz-appearance"] = "none";
            //obj.style.appearance = "none";
    
            const RemoveID = document.querySelector("#form-" + `${totalForms - 1}` + " .remove-form");
            RemoveID.classList.add("remove-" + `${totalForms - 1}`)
            RemoveID.classList.remove("hideForm")
            RemoveID.setAttribute('id', `${totalForms - 1}`)
            RemoveID.setAttribute('onclick', 'delete_form(this.id)');
           
      
            if(totalForms == maxForm) {
                addMoreBtn.style.visibility = 'hidden';
            }
        }
       
    }
    
    
    </script>

{% endblock %}
{% endif %}

